
/* .rewiews-sub-container{
    /* border: 1px gray dotted; */
    /* margin-top: 10vh;
    margin-left: 5vh;
    margin-right: 5vh;
}

.reviews-image{
    max-width: 50vw;
    max-height: 50vw;
} */ 


/* ---------------------------------------------------- */

p.review-description {
    max-width: 280px; 
    font-size: 13px;
    width: 280px;

    
}
.comments-user-info {
    color: #12E6C8;
    font-weight: bold;
}

.reviews-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.reviews-user-info {
    color: grey 
}




.textarea{
    overflow-y: scroll; 
}
p.review-stars {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    bottom: 1px;
    width: 250px;
    height: 40px;
    margin: 0;
}