.reviews-container{
    border: 1px black solid;
    margin: 5vh;
}


.reviews-image{
    max-width: 20vw;
    max-height: 20vw;
}

.reviews-edit-form{
    display: flex;
    flex-direction: column;
    margin: 5vh;
}