<<<<<<< Updated upstream
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

svg {
    position: absolute;
    left: 40px;
    margin-top: 159px;
}
path {
    stroke-dasharray: 250 1053;
}

body {
    position: relative;
    background: black;
    height: 100%;
    cursor: pointer;
    
}



.App {
    position: relative;
}

a#RegisterLink{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 50%;
    text-decoration: none;
    right: 85px;
    width: 210px;
}

a#GuestLink {
    display: flex;
    position: absolute;
    margin-top: 67%;
    right: 64px;
    text-decoration: none;
}
=======
a {
    width: 75px;
    margin: 0;
}
>>>>>>> Stashed changes
